/target/
.classpath
.project
.settings/
.idea/
*.iml
*.ipr
*.iws
deploy*.sh
custom.jvmargs
application-dev.properties
classes/
logs/
/bin/
.DS_Store
out/
.clever.json
alfio-itest
public/
node_modules/
lsp
